<section class="animals">
    <div class="slide">
        <h2>Henky</h2>
        <h4>Calico</h4>
        <p>Grandpa cat</p>
        <img src="images/cat.jpg" alt="cat">
    </div>
</section>

<section class="buttons">
    <form action="/dislike" method="POST">
        <input type="hidden" name="userID" value="henky">
        <input type="hidden" name="voorkeur" value="dislike">
        <input type="image" class="dislike-bttn" src="images/dislike.png" alt="dislike button">
    </form>

    <form action="/like" method="POST">
        <input type="hidden" name="userID" value="henky">
        <input type="hidden" name="voorkeur" value="like">
        <input type="image" class="like-bttn" src="images/heart.png" alt="like button">
    </form>
</section>