<h1>Hello from the home template</h1>
<section class="slide-container">
    <div class="slide">
        <h2>Henky</h2>
        <h4>5 years old</h4>
        <img src="images/cat.jpg" alt="cat">
        <a href="#" class="green btn">Interested</a>
        <a href="#" class="red btn">Interested</a>
    </div>
    <div class="slide">
        <h2>Harry</h2>
        <h4>3,5 years old</h4>
        <img src="images/dog.jpg" alt="cat">
        <a href="#" class="green btn">Interested</a>
        <a href="#" class="red btn">Interested</a>
    </div>
    <div class="slide">
        <h2>Hagrid</h2>
        <h4>7,5 years old</h4>
        <img src="images/cat_2.jpg" alt="cat">
        <a href="#" class="green btn">Interested</a>
        <a href="#" class="red btn">Interested</a>
    </div>
</section>