* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section h2{
    font-size: 4em;
}

section h4{
    font-size: 1em;
}

section p{
    font-size: .7em;
}

section h2,
section h4,
section p{
    text-align: center;
    padding: .2em;
}

section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 60%;
    height: auto;
}

#image {
    width:2.5em;
}


